.container {
  margin-top: -1.6875rem;
  max-width: 46rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.newTaskForm {
  display: grid;
  grid-template-columns: 638px 1fr;
  gap: 0.5rem;
}

.newTaskForm > input[name='task'] {
  display: flex;
  align-items: center;
  height: 3.375rem;
  padding: 1rem;

  line-height: 1.4;

  color: var(--gray-300);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.newTaskForm > button[type='submit'] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;

  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
  background: var(--blue-dark);
  border: 0;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.1s;
}

.newTaskForm > button[type='submit']:hover {
  filter: brightness(0.9);
}

.toDoListHeader {
  width: 100%;
  margin-top: 4rem;

  display: flex;
  justify-content: space-between;
}

.toDoListHeader div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toDoListHeader div strong {
  font-size: 0.875;
  line-height: 1.7;
}

.toDoListHeader div span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0.5rem;
  background: var(--gray-400);
  border-radius: 999px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
}

.createdTasks {
  color: var(--blue);
}

.finishedTasks {
  color: var(--purple);
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .newTaskForm {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0 1rem;
  }
}